h1{
  font-family: sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  margin: 0px;
}

input{
  border: 3px solid black;
  margin: 50px;
  padding: 10px;
  padding-right: 100px;
}

.addtask{
  background-color: black;
  color: white;
  padding: 15px 18px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.main{
  margin: 0px;
  padding: 8px;
  background-color: rgb(170, 186, 203);
}

.renderList{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.task{
  font-family: serif;
  font-weight: bold;
  font-size: xx-large;
}

.desc{
  font-family: serif;
  font-size: x-large;
  padding-right: 100px;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete{
  border: 2px solid rgb(194, 72, 72);
  background-color: rgb(194, 72, 72);
  color: white;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.complete{
  border: 2px solid rgb(56, 153, 56);
  background-color: rgb(56, 153, 56);
  color: white;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.complete:hover{
  background-color: rgb(6, 86, 6);
}

.delete:hover{
  background-color: red;
}